body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/honey-background.jpg");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row
}

.navBar button{
  -webkit-box-flex: 1;
  flex: 1;
  background-color: inherit;
  border-width: 1px
}
.navBar button:hover{
  background-color: silver;
}

.searchBar{
  width: 100%;
  height: 30px;
  font-size: 30px
}

.forumPostCell{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: black solid 2px;
  width: 35%
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.formPostCellContainer{
  display: flex;
  flex-direction: row;
  border-bottom: black 2px solid
}

.cellNumber{
  border-right: black 2px solid;
}

.cellNumber p{
  padding: 10px
}