body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/honey-background.jpg");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;

}

.navBar button{
  -webkit-box-flex: 1;
  flex: 1;
  background-color: inherit;
  border-width: 1px
}
.navBar button:hover{
  background-color: silver;
}

.searchBar{
  width: 100%;
  height: 30px;
  font-size: 30px
}

.forumPostCell{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: black solid 2px;
  width: 35%
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.formPostCellContainer{
  display: flex;
  flex-direction: row;
  border-bottom: black 2px solid;
}

.cellNumber{
  border-right: black 2px solid;
}

.cellNumber p{
  padding: 10px
}

.forumList{
  display: flex;
  flex: 1;
  background-color: white;
  margin-top: 50px;
  flex-direction: column
}

.triangle{
  width: 0;
  height: 0;
  transform: rotate(0deg);
  border-left: 100px solid transparent;
  border-bottom: 100px solid lightblue;
}
.triangle:hover{
  border-bottom: 100px solid #358;
}

.flex.row.between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#createdListMargin{
  margin-left: 20px
}

.display.flex{
  display: flex;
  flex: 1;
}

#editorContainer{
  border: 1px solid black;
  padding: 2px;
  min-height: 400px;
  background-color: white;
}

.newButton{
  display: flex;
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 25px;
  justify-content: center;
  margin-right: 20px;
}

.plusButton{
  font-size: 45px;
  color: yellow;
  align-self: center;
}

.formPostCellContainer p{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.triangle p {
  transform: rotate(310deg);
  position: absolute;
  margin-left: -60px;
  margin-top: 45px;
  text-align: center;
}